@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <table class="table table-active justify-content-md-center text-center">
        <thead>
            <tr>
                <th>Total patients</th>
                <th>Infected patients</th>
                <th>Not Infected patients</th>
                <th>Dead patients</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.totalPatients
                </td>
                <td>
                    @Model.totalInfected
                </td>
                <td>
                    @Model.totalNotInfected
                </td>
                <td>
                    @Model.totalDead
                </td>
            </tr>
        </tbody>
    </table>
</div>
